<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>html ⚡ 4email</title>
    <link rel="icon" type="image/png" href="../public/img/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/codemirror.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/addon/fold/foldgutter.css">
    <link rel="stylesheet" href="../public/css/default.css" id="codemirror-theme">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/modal.css">
  </head>
  <body class="body">

    <div id="success" class="modal{{#if sendSuccess}} open{{/if}}{{#if sendFailure}} open failure{{/if}}">
      <div class="modal-window">
        <span class="close" data-dismiss="modal">&times;</span>
          <h1>📧 email <span class="sendfail">not</span> sent!</h1>
        <button class="success-btn" data-dismiss="modal">Close</button>
      </div>
    </div>

    <form method="post" action="/" class="form">

      <div class="headers">
        <div data-target="settings" data-toggle="modal" tabindex="0" class="btn">settings</div>

        <label for="email-subject">
          <input type="text" id="email-subject" class="setting-subject" name="testsubject" value="" placeholder="subject line">
        </label>

        <label for="email-to">
          <input type="text" id="email-to" class="setting-address" name="testaddress" value="" placeholder="email address">
        </label>

        <button class="submit btn" type="submit">send email</button>
      </div>

      <div class="tab">
        <div class="tabs active" onclick="mime(event, 'htmlversion')" tabindex="0">html</div>
        <div class="tabs" onclick="mime(event, 'textversion')" tabindex="0">text</div>
        <div class="tabs" onclick="mime(event, 'ampversion')" tabindex="0">amp</div>
      </div>

      <div class="editor">
        <div class="content split" id="content">
          <textarea tabindex="-1" class="editorwindow html editor-on" id="htmlversion" value="" name="htmlversion"></textarea>
          <textarea tabindex="-1" class="editorwindow text" id="textversion" value="" name="textversion"></textarea>
          <textarea tabindex="-1" class="editorwindow amp" id="ampversion" value="" name="ampversion"></textarea>
        </div>

        <div class="preview split" id="preview">
          <div class="previews preview-on htmlversion">
            <iframe class="htmlframe"></iframe>
          </div>
          <div class="previews ampversion">
            <iframe class="ampframe"></iframe>
          </div>
          <div class="previews textversion">
            <textarea class="textframe"></textarea>
          </div>
        </div>
      </div>

      <div id="settings" class="modal">
        <div class="modal-window">
          <span class="close" data-dismiss="modal">&times;</span>
            <div class="sender-settings">
              <label for="setting-host">host<br>
                <input type="text" id="setting-host" class="setting-host" name="host" placeholder="ex: smtp.gmail.com">
              </label>
              <label for="setting-port">port<br>
                <input type="text" id="setting-port" class="setting-port" name="port" placeholder="ex: 587">
              </label>
              <label for="setting-email">username<br>
                <input type="text" id="setting-email" class="setting-email" name="email" placeholder="ex: example@gmail.com">
              </label>
              <label for="setting-pass">password<br>
                <input type="password" id="setting-pass" class="setting-pass" name="pass" placeholder="ex: aVerySecurePassword">
              </label>
              <label for="setting-from">from<br>
                <input type="text" id="setting-from" class="setting-from" name="from" placeholder="ex: Homer Simpson">
              </label>
            </div>
            <div class="sender-settings-details">
              <label for="select">theme<br>
                <select onchange="selectTheme()" id=select></select>
              </label>
              <label for="setting-fontsize">editor font size
                <input type="text" id="setting-fontsize" class="setting-fontsize" name="fontsize" placeholder="ex: 1.3em">
              </label>
            </div>
            <fieldset class="sender-settings sender-extras">
              <legend>send time settings</legend>
              
            </fieldset>
            <div class="sender-settings">
              <label for="setting-eml">Convert existing EML<br>
                <input type="file" id="setting-eml" class="setting-eml" accept=".eml"/>
              </label>
              <p>This will extract the markup and insert it into the UI according to its MIME type</p>
            </div>            
          <button data-dismiss="modal">Close</button>
        </div>
      </div>

    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/xml/xml.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/htmlmixed/htmlmixed.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/css/css.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/addon/fold/foldcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/addon/fold/foldgutter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/addon/fold/brace-fold.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/addon/fold/xml-fold.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/addon/fold/indent-fold.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/addon/fold/markdown-fold.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/addon/fold/comment-fold.min.js"></script>
    <script src="../public/js/split.min.js"></script>
    <script src="../public/js/themes.js"></script>
    <script src="../public/utils/default.js"></script>
    <script src="../public/js/process.js"></script>
    <script src="../public/js/main.js"></script>
    <script src="../public/js/modal.js"></script>
    {{#if sendSuccess}}
    {{!-- automatically close the popup after successful send --}}
      <script>
        var modalSuccess = document.querySelector('[class="modal open"]');
          setTimeout(function(){ 
            modalSuccess.classList.remove('open');
            },
          3000
        );
      </script>
    {{/if}}
    {{#if sendFailure}}
    {{!-- automatically close the popup after successful send --}}
      <script>
        var modalFailure = document.querySelector('[class="modal open failure"]');
          setTimeout(function(){ 
            modalFailure.classList.remove('open', 'failure');
            },
          3000
        );
      </script>
    {{/if}}


  </body>
</html>
