#root {
  display: flex;
  flex-direction: column;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

button,
input {
  font: inherit;
}

.monaco-editor {
  flex: 1;
}

button:hover {
  cursor: pointer;
}

.split-container {
  flex-grow: 1;
}

.split-component {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.rti--container {
  padding: 0 0.5rem !important;
}

.rti--input {
  width: 0 !important;
  flex-grow: 1;
}

.no-working-files, 
.no-working-files + .gutter {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .gutter {
    background-color: #333;
  }

  .gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  }

  .rti--container, 
  .rti--input {
    background-color: unset !important;
  }

  .rti--tag {
    background-color: #90caf9 !important;
    color: #000;
  }

}