.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.editors,
.split-container {
  padding: 0.5rem;
}

button,
input {
  font: inherit;
}

.monaco-editor {
  flex: 1;
}

button:hover {
  cursor: pointer;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.workspace-preview iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.rti--container {
  padding: 0 0.5rem !important;
}
